    <!-- GALERY -->
  
    <div class="containerGalery">
		<div class="jumbotron">
			<h1><i class="fa fa-camera-retro"></i> My Image Gallary</h1>
			<p>Just a Gallary Full of Beautiful Images... </p>
		</div>

   

    <div class="wrapperGalery">
        <img class="imagenGalery" src="https://source.unsplash.com/random/600x600?water" alt="">
        <img class="imagenGalery" src="https://source.unsplash.com/random/600x600?summer" alt="">
        <img class="imagenGalery" src="https://source.unsplash.com/random/600x600?plants" alt="">
        <img class="imagenGalery" src="https://source.unsplash.com/random/600x600?snow" alt="">
        <img class="imagenGalery" src="https://source.unsplash.com/random/600x600?roses" alt="">
        <img class="imagenGalery" src="https://source.unsplash.com/random/600x600?sky" alt="">
        <img class="imagenGalery" src="https://source.unsplash.com/random/600x600?nature" alt="">
        <img class="imagenGalery" src="https://source.unsplash.com/random/600x600?blossom" alt="">
        <img class="imagenGalery" src="https://source.unsplash.com/random/600x600?ice" alt="">
        <img class="imagenGalery" src="https://source.unsplash.com/random/600x600?spring" alt="">
      </div>
    </div>
    <!-- /GALERY -->
